.Project{
    border: solid #6E07F3;
    width: 30vw;
    height: 33vh;
    margin-left: 2vw;
    margin-top: 2vh;
    border-radius: 25px;
}

.Name{
    font-size: 30px;
    font-style: revert;
    color: #6E07F3;
}

.Link{
    cursor: pointer;
    text-decoration: none;
}