.BackGroundDarkBlue {
    background-color: #143167;
    color: #fff;
    padding: 40px;
}

.Art{
    width: 600px;
    height: 600px;
}

.BackGroundDarkBlue h1 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.BackGroundDarkBlue p {
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}